
@charset "UTF-8";
/* CSS Document */

.jumbotron {
    height: 150px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .left {
    float: left;
}

.right {
    float: right;
}

.wrapper {
    width: 500px;
    margin: auto;
    padding: auto;
    overflow: auto;
}